@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {

    /* --TIPOGRAFIA-- */
    --fs-1: "Lato", Helvetica, Arial;
    --fs-2: "Nunito", sans-serif;

    /* --CORES-- */
    --p1: #042520;
    --p2-light: #084A40;
    --p3-dark: #021210;

    --s1: #b9d2d4;
    --s2-light: #D9E7E8;
    --s3-dark: #4A7578;
    --s4: #0F4856;

    --b1: #0F4856;
    --c1: #FAFAFA;
    --c2: #F5F5F5;
    --c3: #DBDBDB;
    --c4: #B5B5B5;
    --c5: #7A7A7A;
    --c6: #4A4A4A;
    --c7: #363636;
    --c8: #242424;
    --c9: #121212;

    --gradient-1: linear-gradient(180deg, #4A7578 0%, rgba(74, 117, 120, 0.5) 67.58%);
}

body, h1, h2, p, ul, li, a, span{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var("--fs-1"), "Nunito", Helvetica, Arial;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

header {
    background-image: url(/img/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 1050px;
    z-index: 2;
}


.btn {
    display: inline-block;
    text-align: center;
    width: 130px;
    height: 50px;
    margin-top: -2px;
    background: var(--gradient-1);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--c2);
    padding-top: 10px;
    text-align: center;
}

.btn:hover {
    transform: scale(1.02);
}

.btn-bordered {
    border: 2px solid var(--c5);
    background: transparent;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

/* --NAV-- */

.nav {
    padding-top: 20px;
}

.nav ul {
    background-color: transparent;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 60px;
    padding-top: 30px;
}

.nav__item:not(:first-child, :last-child):before {
    display: inline-block;
    content: '|';
    width: 1px;
    font-size: 2em;
    background: var(--c5);
    margin-left: 15px;
}

.nav__item:nth-child(1):before {
    display: inline-block;
    content: '|';
    width: 1px;
    font-size: 2em;
    background: transparent;
}

.nav__item a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    color: var(--c3);
    font-weight: 500;
    padding: 10px;
    margin-left: 15px;
}

.nav__item:hover {
    transform: scale(1.02);
}

/* --/NAV-- */

/* --HOME-- */

.home__presentation {
    color: var(--c3);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home__presentation h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    padding-bottom: 40px;
}

.home__presentation h2 {
    max-width: 350px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    margin-bottom: 100px;
}

.home__cta .btn {
    margin-right: 10px;
    margin-left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.home__cta .btn-bordered {
    margin-left: 10px;
    margin-right: 50px;
}

.home__arrow-down {
    margin-top: 450px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.home__arrow-down a {
    color: var(--c2);

}

.home__arrow-down img {
    padding-top: 20px;
    padding-left: 20px;
}

/* --/HOME-- */

/* --SOBRE-- */

.about__bg {
    background-color: #000000;
    height: 800px;
}

.about__bg h2 {
    color: var(--c3);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about__content {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.about__left {
    max-width: 550px;
}

.about__left img {
    max-width: 450px;
}

.about__right {
    max-width: 550px;
}

.about__right p {
    color: var(--c4);
    font-size: 1.5em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    padding-left: 32px;
    padding-bottom: 20px;
}

.about__social-media {
    padding: 30px 32px 0 32px;
    padding-top: 30px;
    padding-right: 32px;
    display: flex;
}

.about__social-media img {
    padding-right: 32px;
}

@media (max-width: 1200px) {
    .about__bg {
        height: 1200px;
    }
    .about__content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .about__left {
        padding-bottom: 40px;
    }
}

/* --/SOBRE-- */

/* --SKILLS-- */

.skills__bg {
    background-color: var(--p2-light);
    height: 800px;
}

.skills__bg h2 {
    color: var(--c3);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-six-cards {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.skills__card {
    flex: 1 1 300px;
    padding-bottom: 30px;
    margin: 20px 10px;
}

.skills__card > h3 {
    color: var(--c3);
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 10px;
}

.skills__card > p {
    color: var(--c3);
    font-size: 1.125em;
    font-weight: 300;
}

@media (max-width: 1200px) {
    .skills__bg {
        height: 1100px;
    }
}

/* --/SKILLS-- */

/* --PORTFOLIO-- */

.portfolio__bg {
    background-color: var(--p3-dark);
    height: 1500px;
}

.portfolio__bg h2 {
    color: var(--c3);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio-three-cards {
    display: flex;
    flex-direction: column;
}

.portfolio__card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}

.portfolio__card--left {
    max-width: 550px;
    padding-right: 32px;
}

.portfolio__card--left h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.25em;
    font-weight: 500;
    color: var(--c2);
    margin-bottom: 10px;
}

.portfolio__card--left p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--c3);
    max-width: 450px;
}

.portfolio__card--left .btn {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--s1);
    padding: 10px 10px 10px 10px;
    width: 160px;
}

.portfolio__card--left .btn-bordered {
    border: 2px solid var(--s1);
    background: transparent;
}

.portfolio__card--right {
    max-width: 630px;
}

.portfolio__separator {
    display: inline-block;
    margin-top: -2px;
}

@media (max-width: 1200px) {
    .portfolio__bg {
        height: 1300px;
    }
    .portfolio__card {
        justify-content: center;
        align-items: center;
    }
    .portfolio__card--left h3{
        font-size: 1.75em;
    }
    .portfolio__card--left p{
        font-size: 1.25em;
    }
}

@media (max-width: 960px) {
    .portfolio__bg {
        height: 2150px;
    }
    .portfolio__bg .container {
        padding: 0 40px;        
    }
    .portfolio__card--left {
        padding-right: 20px;
    }
    .portfolio-three-cards, .portfolio__card {
        flex-wrap: wrap;
    }
    .portfolio__card--left {
        order: 2;
    }
    .portfolio__card--right {
        order: 1;
    }
}

/* --/PORTFOLIO-- */

/* --CONTATO-- */

.contato__bg {
    background-color: var(--s4);
    height: 800px;
}

.contato__bg h2 {
    color: var(--c3);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contato__content {
    display: flex;
    justify-content: space-between;
}

.contato__left {
    max-width: 450px;
}

.contato__left label {
    display: none;
}

.contato__left form{
    display: block;
    width: 420px;
    background-color: transparent;
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 32px;
}

.contato__left input{
    display: block;
    width: 100%;
    border: 3px solid var(--c4);
    background-color: transparent;
    color: var(--c3);
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.contato__left textarea{
    display: block;
    max-width: 450px;
    width: 100%;
    height: 200px;
    border: 3px solid var(--c4);
    background-color: transparent;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--c3);
    font-size: 1.5em;
    padding: 10px;
    outline: none;
    resize: none;
}

.contato__left button {
    margin-top: 10px;
    border: 3px solid var(--c4);
    color: var(--c4);
    cursor: pointer;    
}

.contato__right {
    max-width: 650px;
}

.contato__right p {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--c3);
    font-size: 1.5em;
    padding-bottom: 40px;
}

.contato__icon {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    padding-bottom: 40px;
    color: var(--c1);
    font-size: 1.5em;
}

.contato__icon img {
    padding-right: 40px;
}

@media (max-width: 1200px) {
    .contato__left form {
        max-width: 420px;
    }
    .contato__icon img {
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .contato__content {
        flex-wrap: wrap;
    }
}

/* --/CONTATO-- */

/* --FOOTER-- */

.footer__bg {
    background-color: #121212;
    height: 250px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--c3);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
}

.footer__social-media {
    padding-top: 25px;
    padding-bottom: 60px;
    display: flex;
}

.footer__social-media img {
    padding-right: 26px;
}

/* --/FOOTER-- */