@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {

    /* --TIPOGRAFIA-- */
    --fs-1: "Lato", Helvetica, Arial;
    --fs-2: "Nunito", sans-serif;

    /* --CORES-- */
    --p1: #042520;
    --p2-light: #084A40;
    --p3-dark: #021210;

    --s1: #b9d2d4;
    --s2-light: #D9E7E8;
    --s3-dark: #4A7578;

    --b1: #0F4856;
    --c1: #FAFAFA;
    --c2: #F5F5F5;
    --c3: #DBDBDB;
    --c4: #B5B5B5;
    --c5: #7A7A7A;
    --c6: #4A4A4A;
    --c7: #363636;
    --c8: #242424;
    --c9: #121212;

    --gradient-1: linear-gradient(180deg, #4A7578 0%, rgba(74, 117, 120, 0.5) 67.58%);
}

body, h1, h2, p, ul, li, a, span{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var("--fs-1"), "Nunito", Helvetica, Arial;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

header {
    background-image: url(/img/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    z-index: 2;
}


.btn {
    display: inline-block;
    text-align: center;
    width: 130px;
    height: 50px;
    margin-top: -2px;
    background: var(--gradient-1);
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--c2);
    padding-top: 10px;
    text-align: center;
}

.btn:hover {
    transform: scale(1.02);
}

.btn-bordered {
    border: 2px solid var(--c5);
    background: transparent;
}


/* --NAV-- */

.nav {
    padding-top: 20px;
}

.nav ul {
    background-color: transparent;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 60px;
    padding-top: 30px;
}

.nav__item:not(:first-child, :last-child):before {
    display: inline-block;
    content: '|';
    width: 1px;
    font-size: 2em;
    background: var(--c5);
    margin-left: 15px;
}

.nav__item:nth-child(1):before {
    display: inline-block;
    content: '|';
    width: 1px;
    font-size: 2em;
    background: transparent;
}

.nav__item a {
    font-size: 1.5em;
    color: var(--c3);
    font-weight: 300;
    padding: 10px;
    margin-left: 15px;
}

.nav__item:hover {
    transform: scale(1.03);
}

/* --/NAV-- */

/* --HOME-- */

.home__presentation {
    color: var(--c3);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home__presentation h1 {
    font-size: 2.75em;
    padding-bottom: 40px;
}

.home__presentation h2 {
    max-width: 350px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 100px;
}

.home__cta .btn {
    margin-right: 10px;
    margin-left: 50px;
}

.home__cta .btn-bordered {
    margin-left: 10px;
    margin-right: 50px;
}

.home__arrow-down {
    margin-top: 450px;
    text-align: center;
}

.home__arrow-down a {
    color: var(--c2);

}

.home__arrow-down img {
    padding-top: 20px;
    padding-left: 20px;
}

/* --/HOME-- */