[data-menu="button"] {
    display: none;
}

@media (max-width: 800px) {
    .js [data-menu="button"] {
        display: flex;
        background: transparent;
        border: none;
        padding: .7rem 1rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bold;
        color: #DBDBDB;
        cursor: pointer;
        margin: 10px;
        align-items: center;
        position: relative;
        z-index: 300;
    }
    .js [data-menu="button"]::before {
        margin-right: 4px;
        content: '';
        display: inline-block;
        height: 4px;
        width: 28px;
        background: #F5F5F5;
        box-shadow: 0 10px #F5F5F5, 0 -10px #F5F5F5;
    }
    /* .js [data-menu="button"].active::before {
        transform: rotate(90deg);
        transition: transform .3s;        
    } */
    .js [data-menu="button"].active::before, .js [data-menu="button"].active::after {
        position: absolute;
        left: 15px;
        content: 'FECHAR';
        width: 3px;
        HEIGHT: 0pX;
        box-shadow: none;
    }
    .js [data-menu="list"] {
        display: none;
        position: absolute;
        background: #406568;
        width: 100vw;
        padding: 80px 0 20px 0;
        top: 0;
        z-index: 200;
        box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    }
    @keyframes toRight {
        0% {
            left: 0;
            transform: translateX(-100%);
        }
        50% {
            left: 50%;
            transform: translateX(-50%);
        }
        100% {
            left: 100%;
            transform: translateX(-100%);
        } 
    }
    .js [data-menu="list"].active {
        display: inline-flex;
        animation: toRight .6s forwards;
    }
    .js #menu {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .js #menu li.nav__item {
        padding: 0px 0px 10px 0px;
    }
    .js #menu li.nav__item:before {
        content: '';
        display: none;
    }
    .js #menu li::before {
        content: '';
    }
    .js .nav__item > .btn-bordered {
        border: 2px solid #DBDBDB;
        margin-top: 10px;
    }
}